<% layout("layouts/boilerplate")%>

<section class="page-title bg-1">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="block text-center">
            <span class="text-white">Contact Us</span>
            <h1 class="text-capitalize mb-5 text-lg">Get in Touch</h1>
  
            <!-- <ul class="list-inline breadcumb-nav">
              <li class="list-inline-item"><a href="index.html" class="text-white">Home</a></li>
              <li class="list-inline-item"><span class="text-white">/</span></li>
              <li class="list-inline-item"><a href="#" class="text-white-50">Contact Us</a></li>
            </ul> -->
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- contact form start -->
  
  <section class="section contact-info pb-0">
      <div class="container">
           <div class="row">
              <div class="col-lg-4 col-sm-6 col-md-6">
                  <div class="contact-block mb-4 mb-lg-0">
                      <i class="icofont-live-support"></i>
                      <h5>Call Us</h5>
						<a href="tel:075060 49824" >
                            075060 49824</a><br> <br> <br> 
                  </div>
              </div>
              <div class="col-lg-4 col-sm-6 col-md-6"   >
                  <div class="contact-block mb-4 mb-lg-0">
                      <i class="icofont-support-faq"></i>
                      <h5>Email Us</h5>
                      <a href="mailto:support@blessingclinic.com">support@blessingclinic.com</a> <br> <br> <br>
                      
                  </div>
                  
              </div>
              <div class="col-lg-4 col-sm-6 col-md-6">
                  <div class="contact-block mb-4 mb-lg-0">
                      <i class="icofont-location-pin"></i>
                      <h5>Location</h5>
                      <a href="https://www.google.com/maps/place/Blessings+Clinic/@18.9173826,72.8247122,17z/data=!4m10!1m2!2m1!1sBlessing+well+beign+clinic+colaba+mumbai!3m6!1s0x3be7d195594b2cf7:0x320ff0b23faadc09!8m2!3d18.9164314!4d72.8269687!15sCihCbGVzc2luZyB3ZWxsIGJlaW5nIGNsaW5pYyBjb2xhYmEgbXVtYmFpWioiKGJsZXNzaW5nIHdlbGwgYmVpbmcgY2xpbmljIGNvbGFiYSBtdW1iYWmSAQhob3NwaXRhbJoBI0NoWkRTVWhOTUc5blMwVkpRMEZuU1VSME5qaFFlRlJCRUFF4AEA!16s%2Fg%2F11f03mzmw9?entry=ttu">Ground Floor, PUNITA, Shahid Bhagat Singh Rd, Azad Nagar, Colaba, Mumbai, Maharashtra 400005</a>
                  </div>
              </div>
          </div>
      </div>
  </section>
  
  