<% layout("layouts/boilerplate")%>
<body id="top">
    

  <section class="banner">
    <div class="container">
      <div class="row">
        <div class="col-lg-6 col-md-12 col-xl-7">
          <div class="block">
            <div class="divider mb-3"></div>
            <span class="text-uppercase text-sm letter-spacing " ><h3 style="color:#223a66;">YOUR MOST TRUSTED </h3></span>
            <h1 class="mb-3 mt-3"> Blessing-Well Being Clinic</h1>
            
            <h4 class="mb-4 pr-5" > DR.Varsha Patil<br> Obstetrician-Gynecologist</h4>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="features">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <div class="feature-block d-lg-flex">
            <div class="feature-item mb-5 mb-lg-0">
              <div class="feature-icon mb-4">
                <i class="icofont-surgeon-alt"></i>
              </div>
              <span>24 Hours Service</span>
              <h4 class="mb-3">Online Appoinment</h4>
              <p class="mb-4">Get All time support for emergency.We have introduced the principle of family medicine.</p>
              <a href="/appointment" class="btn btn-main btn-round-full">Make a appoinment</a>
            </div>
          
            <div class="feature-item mb-5 mb-lg-0">
              <div class="feature-icon mb-4">
                <i class="icofont-ui-clock"></i>
              </div>
              <span>Timing schedule</span>
              <h4 class="mb-3">Working Hours</h4>
              <ul class="w-hours list-unstyled">
                          <li class="d-flex justify-content-between">Mon - Sat : <span>10:00Am - 02:00Pm<br>06:00Pm - 08:00Pm</span> </li>
                           
                          <li class="d-flex justify-content-between">Sun<span>Closed</span></li>
                      </ul>
            </div>
          
            <div class="feature-item mb-5 mb-lg-0">
              <div class="feature-icon mb-4">
                <i class="icofont-support"></i>
              </div>
              <span>Emegency Cases</span>
              <h4 class="mb-3">075060 49824</h4>
              <p>Get All time support for emergency.We have introduced the principle of family medicine.Get Conneted with us for any urgency .</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  
  
  <section class="section about">
    <div class="container">
      <div class="row align-items-center">
        <div class="col-lg-4 col-sm-6">
          <div class="about-img">
            
            <img src="images/team/drvarsha2.jpg" alt="" class="img-fluid mt-4">
          </div>
        </div>
        <div class="col-lg-4 col-sm-6">
          <div class="about-img mt-4 mt-lg-0">
            <img src="images/team/drvarsha3.jpeg.jpg" alt="" class="img-fluid">
          </div>
        </div>
        <div class="col-lg-4">
          <div class="about-content pl-4 mt-4 mt-lg-0">
            <h2 class="title-color">Personal care <br>& healthy living</h2>
            <p class="mt-4 mb-5">We provide best leading medicle service Nulla perferendis veniam deleniti ipsum officia dolores repellat laudantium obcaecati neque.</p>
  
            <a href="/service" class="btn btn-main-2 btn-round-full btn-icon">Services<i class="icofont-simple-right ml-3"></i></a>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="cta-section ">
    <div class="container">
      <div class="cta position-relative">
        <div class="row">
          <div class="col-lg-3 col-md-6 col-sm-6">
            <div class="counter-stat">
              <i class="icofont-doctor"></i>
              <span class="h3">58</span>k
              <p>Happy People</p>
            </div>
          </div>
          <div class="col-lg-3 col-md-6 col-sm-6">
            <div class="counter-stat">
              <i class="icofont-flag"></i>
              <span class="h3">700</span>+
              <p>Surgery Comepleted</p>
            </div>
          </div>
          
          <div class="col-lg-3 col-md-6 col-sm-6">
            <div class="counter-stat">
              <i class="icofont-badge"></i>
              <span class="h3">40</span>+
              <p>Expert Doctors</p>
            </div>
          </div>
          <div class="col-lg-3 col-md-6 col-sm-6">
            <div class="counter-stat">
              <i class="icofont-globe"></i>
              <span class="h3">20</span>
              <p>Worldwide Branch</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="section service gray-bg">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-lg-7 text-center">
          <div class="section-title">
            <h2>Award winning patient care</h2>
            <div class="divider mx-auto my-4"></div>
            <p>Lets know moreel necessitatibus dolor asperiores illum possimus sint voluptates incidunt molestias nostrum laudantium. Maiores porro cumque quaerat.</p>
          </div>
        </div>
      </div>
  
      <div class="row">
        <div class="col-lg-4 col-md-6 col-sm-6">
          <div class="service-item mb-4">
            <div class="icon d-flex align-items-center">
              <i class="icofont-laboratory text-lg"></i>
              <h4 class="mt-3 mb-3">Laboratory services</h4>
            </div>
  
            <div class="content">
              <p class="mb-4">Saepe nulla praesentium eaque omnis perferendis a doloremque.</p>
            </div>
          </div>
        </div>
  
        <div class="col-lg-4 col-md-6 col-sm-6">
          <div class="service-item mb-4">
            <div class="icon d-flex align-items-center">
              <i class="icofont-heart-beat-alt text-lg"></i>
              <h4 class="mt-3 mb-3">Heart Disease</h4>
            </div>
            <div class="content">
              <p class="mb-4">Saepe nulla praesentium eaque omnis perferendis a doloremque.</p>
            </div>
          </div>
        </div>
        
        <div class="col-lg-4 col-md-6 col-sm-6">
          <div class="service-item mb-4">
            <div class="icon d-flex align-items-center">
              <i class="icofont-tooth text-lg"></i>
              <h4 class="mt-3 mb-3">Dental Care</h4>
            </div>
            <div class="content">
              <p class="mb-4">Saepe nulla praesentium eaque omnis perferendis a doloremque.</p>
            </div>
          </div>
        </div>
  
  
        <div class="col-lg-4 col-md-6 col-sm-6">
          <div class="service-item mb-4">
            <div class="icon d-flex align-items-center">
              <i class="icofont-crutch text-lg"></i>
              <h4 class="mt-3 mb-3">Body Surgery</h4>
            </div>
  
            <div class="content">
              <p class="mb-4">Saepe nulla praesentium eaque omnis perferendis a doloremque.</p>
            </div>
          </div>
        </div>
  
        <div class="col-lg-4 col-md-6 col-sm-6">
          <div class="service-item mb-4">
            <div class="icon d-flex align-items-center">
              <i class="icofont-brain-alt text-lg"></i>
              <h4 class="mt-3 mb-3">Neurology Sargery</h4>
            </div>
            <div class="content">
              <p class="mb-4">Saepe nulla praesentium eaque omnis perferendis a doloremque.</p>
            </div>
          </div>
        </div>
        
        <div class="col-lg-4 col-md-6 col-sm-6">
          <div class="service-item mb-4">
            <div class="icon d-flex align-items-center">
              <i class="icofont-dna-alt-1 text-lg"></i>
              <h4 class="mt-3 mb-3">Gynecology</h4>
            </div>
            <div class="content">
              <p class="mb-4">Saepe nulla praesentium eaque omnis perferendis a doloremque.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  
  <section class="section testimonial-2 gray-bg">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-lg-7">
          <div class="section-title text-center">
            <h2>We served over 5000+ Patients</h2>
            <div class="divider mx-auto my-4"></div>
            <p>Lets know moreel necessitatibus dolor asperiores illum possimus sint voluptates incidunt molestias nostrum laudantium. Maiores porro cumque quaerat.</p>
          </div>
        </div>
      </div>
    </div>
  
    <div class="container">
      <div class="row align-items-center">
        <div class="col-lg-12 testimonial-wrap-2">
          <div class="testimonial-block style-2  gray-bg">
            <i class="icofont-quote-right"></i>
  
            <div class="testimonial-thumb">
              <img src="https://ui-avatars.com/api/?name=Ankita+Dolas&background=F4C2C2&color=000" alt="" class="img-fluid">
            </div>
  
            <div class="client-info ">
              <h4>Amazing service!</h4>
              <span>Ankita Dolas</span>
              <p>
                The staff is good... And Dr. Varsha.. Is quite polite with the patient.
                <br><br>
              </p>
            </div>
          </div>
  
          <div class="testimonial-block style-2  gray-bg">
            <div class="testimonial-thumb">
              <img src="https://ui-avatars.com/api/?name=Aei+236+kalyani&background=F4C2C2&color=000" alt="" class="img-fluid">
            </div>
  
            <div class="client-info">
              <h4>Expert doctors!</h4>
              <span>Aei kalyani</span>
              <p>
                One of the things I appreciated most is the way Dr. Varsha madam makes you feel uplifted and encouraged, even during the most challenging moments of health.
              </p>
            </div>
            
            <i class="icofont-quote-right"></i>
          </div>
  
          <div class="testimonial-block style-2  gray-bg">
            <div class="testimonial-thumb">
              <img src="https://ui-avatars.com/api/?name=Anitha+Ravada&background=F4C2C2&color=000" alt="" class="img-fluid">
            </div>
  
            <div class="client-info">
              <h4>Good Support!</h4>
              <span>Anitha Ravada</span>
              <p>
                She is full of knowledge and has extensive experience in this field. She knows the patient's concern very well and found her highly supportive during the consulting sessions
                <br><br>
              </p>
            </div>
            
            <i class="icofont-quote-right"></i>
          </div>
  
          <div class="testimonial-block style-2  gray-bg">
            <div class="testimonial-thumb">
              <img src="https://ui-avatars.com/api/?name=CHEVURI+NAGA+PAVITHRA&background=F4C2C2&color=000" alt="" class="img-fluid">
            </div>
  
            <div class="client-info">
              <h4>Nice Environment!</h4>
              <span>CHEVURI NAGA PAVITHRA</span>
              <p class="mt-4">
                Nice clinic.... Environments contribute positively to the overall patient experience. It's crucial to have healthcare providers like Dr. Patil who prioritize both medical expertise and emotional support
              </p>
            </div>
            <i class="icofont-quote-right"></i>
          </div>
  
          <div class="testimonial-block style-2  gray-bg">
            <div class="testimonial-thumb">
              <img src="https://ui-avatars.com/api/?name=naga+lakshmi&background=F4C2C2&color=000" alt="" class="img-fluid">
            </div>
  
            <div class="client-info">
              <h4>Modern Service!</h4>
              <span>Naga Lakshmi</span>
              <p>
                Dr. Varsha Patil's reputation as a renowned obstetrician speaks volumes about her expertise and dedication to maternal health.
                <br><br>
              </p>
            </div>
            <i class="icofont-quote-right"></i>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="section clients">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-lg-7">
          <div class="section-title text-center">
            <h2>Partners who support us</h2>
            <div class="divider mx-auto my-4"></div>
            <p>Lets know moreel necessitatibus dolor asperiores illum possimus sint voluptates incidunt molestias nostrum laudantium. Maiores porro cumque quaerat.</p>
          </div>
        </div>
      </div>
    </div>
  
    <div class="container">
      <div class="row clients-logo">
        <div class="col-lg-2">
          <div class="client-thumb">
            <img src="images/about/1.png" alt="" class="img-fluid">
          </div>
        </div>
        <div class="col-lg-2">
          <div class="client-thumb">
            <img src="images/about/2.png" alt="" class="img-fluid">
          </div>
        </div>
        <div class="col-lg-2">
          <div class="client-thumb">
            <img src="images/about/3.png" alt="" class="img-fluid">
          </div>
        </div>
        <div class="col-lg-2">
          <div class="client-thumb">
            <img src="images/about/4.png" alt="" class="img-fluid">
          </div>
        </div>
        <div class="col-lg-2">
          <div class="client-thumb">
            <img src="images/about/5.png" alt="" class="img-fluid">
          </div>
        </div>
        <div class="col-lg-2">
          <div class="client-thumb">
            <img src="images/about/6.png" alt="" class="img-fluid">
          </div>
        </div>
        <div class="col-lg-2">
          <div class="client-thumb">
            <img src="images/about/3.png" alt="" class="img-fluid">
          </div>
        </div>
        <div class="col-lg-2">
          <div class="client-thumb">
            <img src="images/about/4.png" alt="" class="img-fluid">
          </div>
        </div>
        <div class="col-lg-2">
          <div class="client-thumb">
            <img src="images/about/5.png" alt="" class="img-fluid">
          </div>
        </div>
        <div class="col-lg-2">
          <div class="client-thumb">
            <img src="images/about/6.png" alt="" class="img-fluid">
          </div>
        </div>
      </div>
    </div>
  </section>
      
   
</body>
