<% layout("layouts/boilerplate")%>
<section class="page-title bg-1">
	<div class="overlay"></div>
	<div class="container">
	  <div class="row">
		<div class="col-md-12">
		  <div class="block text-center">
			
			<h1 class="text-capitalize mb-5 text-lg">PREVENTIVE CARE</h1>
  
			<!-- <ul class="list-inline breadcumb-nav">
			  <li class="list-inline-item"><a href="index.html" class="text-white">Home</a></li>
			  <li class="list-inline-item"><span class="text-white">/</span></li>
			  <li class="list-inline-item"><a href="#" class="text-white-50">About Us</a></li>
			</ul> -->
		  </div>
		</div>
	  </div>
	</div>
  </section>

<section class="section about-page">
	<div class="container">
		<div class="row ">
			<div class="col-lg-4">
				
					<img src="images/about/about-1.jpg" alt="" class="img-fluid w-100">
					<h4 class="mt-3"style="text-align: center;"> Mensuration Health Management</h4>
					
				</div>	
				<div class="col-lg-8" style="padding: 1rem 0rem 0rem 1rem;">
				<p>At Blessing Well-Being Clinic, we prioritize menstrual health management as a crucial aspect of women's overall well-being. Our dedicated team offers comprehensive services, including consultations, screenings, and treatments for menstrual disorders. We provide a supportive environment for open discussion and personalized care tailored to individual needs. Through education and empowerment, we aim to enhance understanding and promote proactive management of menstrual health. Your health is our priority, and we're here to support you every step of the way.</p>
		     	</div>
				
		</div>
			
		<br><br>
		<div class="row ">
			<div class="col-lg-4">
				
					<img src="images/about/about-1.jpg" alt="" class="img-fluid w-100">
					<h4 class="mt-3" style="text-align: center;">HPV Vaccination</h4>
					
				</div>	
				<div class="col-lg-8"  style="padding: 1rem 0rem 0rem 1rem;">
				<p>	At Blessing Well-Being Clinic, we recognize the importance of HPV vaccination in safeguarding against human papillomavirus (HPV) infections and related health risks. Our expert team is dedicated to providing comprehensive vaccination services, including HPV vaccines, to protect individuals from HPV-related diseases such as cervical cancer, genital warts, and other related conditions.By offering HPV vaccination, we strive to contribute to the prevention of HPV-related illnesses and promote long-term well-being. Your health is our priority, and we're here to support you in maintaining a healthy and vibrant life.</p>
			</div>
		</div>
	</div>
</br>
</section>